<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página Web</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <a href="/"><img src="/static/weather.png" alt="Logo de la Página" class="logo"></a>
        <h1>Predicción de datos del clima</h1>
    </header>
    <main>
        <div class="container">
            <div class="div_predicciones">
                <div>
                    <h2>Datos percibidos</h2>
                    <div class="card">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Métrica</th>
                                    <th>Valor</th>
                                    <th>Unidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Temperatura</td>
                                    <td>-</td>
                                    <td>°C</td>
                                </tr>
                                <tr>
                                    <td>Humedad</td>
                                    <td>-</td>
                                    <td>%</td>
                                </tr>
                                <tr>
                                    <td>Presión</td>
                                    <td>-</td>
                                    <td>hPa</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <h2>Datos predecidos</h2>
                    <div class="card">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Métrica</th>
                                    <th>Valor</th>
                                    <th>Unidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Temperatura</td>
                                    <td>-</td>
                                    <td>°C</td>
                                </tr>
                                <tr>
                                    <td>Humedad</td>
                                    <td>-</td>
                                    <td>%</td>
                                </tr>
                                <tr>
                                    <td>Presión</td>
                                    <td>-</td>
                                    <td>hPa</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <h2>Datos reales</h2>
                    <div class="card">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Métrica</th>
                                    <th>Valor</th>
                                    <th>Unidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Temperatura</td>
                                    <td>-</td>
                                    <td>°C</td>
                                </tr>
                                <tr>
                                    <td>Humedad</td>
                                    <td>-</td>
                                    <td>%</td>
                                </tr>
                                <tr>
                                    <td>Presión</td>
                                    <td>-</td>
                                    <td>hPa</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>